---
http_interactions:
- request:
    method: get
    uri: https://www.oanda.com/rates/api/v1/rates/USD.json?date=2015-02-11&quote=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer {OANDA_API_KEY}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oanda-Exchange-Rates-Api-Version:
      - 1.0.2
      X-Rate-Limit-Remaining:
      - '99992'
    body:
      encoding: UTF-8
      string: '{"base_currency":"USD","meta":{"effective_params":{"data_set":"oanda","date":"2015-02-11","decimal_places":5,"fields":["averages"],"quote_currencies":["GBP"]},"request_time":"2015-02-12T23:41:20+0000","skipped_currencies":[]},"quotes":{"GBP":{"ask":"0.65542","bid":"0.65533","date":"2015-02-11T21:00:00+0000"}}}'
  recorded_at: Thu, 12 Feb 2015 23:41:20 GMT
recorded_with: VCR 2.9.3
